.Header {
    background-color: #000;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1;
}

.menu {
    margin-right: 30px;
}

.logo {
    margin-left: 10px;
}